@model IEnumerable<AssessmentDomain.Entities.State>

@{
    ViewBag.Title = "Index";
}

<h3>States</h3>

@if (ViewBag.ShowCreateButton == true)
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-outline-success" })
    </p>
}
<hr />
@if (Model.Any())
{


    foreach (var item in Model)
    {
        <ul class="list-unstyled">
            <li class="media">
                <img src="@item.FlagPhotoUrl" title="flag of @item.Name" class="mr-3" alt="..." width="64">
                <div class="media-body">
                    <h4 class="mt-0 mb-1">@item.Name</h4>

                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </li>
        </ul>
    }
}
else
{

    <h5 class="text-danger text-center">Empty list</h5>

}
